ul.sidebar .sidebar-main a, .sidebar-footer, ul.sidebar .sidebar-list a:hover {
	background: #273759;
}
#sidebar-wrapper {
	background: #30426a;
}
ul.sidebar .sidebar-title {
	color: #627cb7;
}
#page-wrapper:not(.active) ul.sidebar .sidebar-title.separator {
	background: #273759;
}