ul.sidebar .sidebar-main a,
.sidebar-footer, 
ul.sidebar .sidebar-list a:hover,
#page-wrapper:not(.active) ul.sidebar .sidebar-title.separator {
	/* Sidebar header and footer color */
	background: #592727;
}
#sidebar-wrapper {
	/* Sidebar background color */
	background: #6a3030;
}
ul.sidebar .sidebar-title {
	/* Sidebar title text colour */
	color: #b76262;
}