ul.sidebar .sidebar-main a,
.sidebar-footer, 
ul.sidebar .sidebar-list a:hover,
#page-wrapper:not(.active) ul.sidebar .sidebar-title.separator {
	/* Sidebar header and footer color */
	background: #273759;
}
#sidebar-wrapper {
	/* Sidebar background color */
	background: #30426a;
}
ul.sidebar .sidebar-title {
	/* Sidebar title text colour */
	color: #627cb7;
}